p {
    margin: 0.5rem 0 0.5rem 0;
}

.historybox {
    margin-bottom: 0.5rem;
    padding: 1rem;
    width: 20rem;
    border: 1px solid rgb(255 255 255);
    background-color: transparent;
    border-radius: 3px;
    color: white;
}

.noHistoryBox {
    margin: 0 auto;
    width: 10rem;
    color: white;
    text-align: center;
}

.historycontainer {
    width: 21.5rem;
    margin: 0 auto;
}

.loadingContainer {
    width: 1rem;
    margin: 0.5rem auto;
    height: 2rem;
}

.twitterShareBox {
    width: 10rem;
}

.shareText {
    float: left;
    margin-top: 0.5rem;
}

.promptText {
    clear: both;
}
